@if (!(authorId>0)) {
  <h3>Registrar Autor</h3>
}
@if (authorId>0) {
  <h3>Editar Autor</h3>
}
<br>
  <br>
    <form [formGroup]="crudForm">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" readonly="true">
      </mat-form-field>
      <br>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        @if (this.crudForm.get('name')?.hasError('required') && this.crudForm.get('name')?.touched ) {
          <span style="color:red"  >Este campo es requerido</span>
        }
        @if (this.crudForm.get('name')?.hasError('minlength') && this.crudForm.get('name')?.touched ) {
          <span style="color:red"  >Se requiere mínimo 2 caracteres</span>
        }
        <br>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
          @if (this.crudForm.get('lastName')?.hasError('required') && this.crudForm.get('lastName')?.touched ) {
            <span style="color:red"  >Este campo es requerido</span>
          }
          @if (this.crudForm.get('lastName')?.hasError('minlength') && this.crudForm.get('lastName')?.touched ) {
            <span style="color:red"  >Se requiere mínimo 2 caracteres</span>
          }
          <br>
            <mat-form-field>
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="email">
              @if (this.crudForm.get('email')?.hasError('required') && this.crudForm.get('name')?.touched ) {
                <span style="color:red"  >Este campo es requerido</span>
              }
              @if (this.crudForm.get('email')?.hasError('minlength') && this.crudForm.get('name')?.touched ) {
                <span style="color:red"  >Se requiere mínimo 2 caracteres</span>
              }
            </mat-form-field>
            <br>

              <br>
                <!--
                <mat-form-field>
                  <mat-label>Fecha de Fundación</mat-label>
                  <input matInput formControlName="fundingDate">
                </mat-form-field>
                -->
                <mat-form-field>
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <mat-datepicker #selectorDeFecha></mat-datepicker>
                  <input matInput formControlName="birthdate" [matDatepicker]="selectorDeFecha">
                  <mat-datepicker-toggle matIconSuffix [for]="selectorDeFecha"></mat-datepicker-toggle>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>

              </form>

              <br>
                <button mat-raised-button routerLink="/author-list">Cancelar</button>
                |
                <button mat-flat-button (click)="Grabar()" >Grabar</button>
